# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
Gemfile.lock
vendor/
.bundle/

# macOS
.DS_Store

# Backup files
*.bak

# Old directories
css/
js/

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
